<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" />

    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="container">
        <div sec:authorize="isAnonymous()">
            <h2 class="fs-title">This is Account Application Main Page</span></h2>
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div>
                        <input type="button" onclick="window.location.href='/signin'" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h2 class="fs-title"><span sec:authentication="name"> is login.</span></h2>
            <h2 class="fs-title">Authentication with Oauth2.0 protocol</span></h2>
            <h2 class="fs-title">Logged in as: <span id="user"></span></h2>
            <h2 class="fs-title">First Name: <span id="firstName"></span></h2>
            <h2 class="fs-title">Last Name: <span sec:authentication="name"></h2>
            <h2 class="fs-title">Access Token: <span id="at"></span></h2>
            <h2 class="fs-title">Session id: <span id="sessionId"></span></h2>

            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div>
                        <input type="button" onClick="logout()" class="btn btn-lg btn-primary btn-block" value="Sign Out"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>